@import url(https://fonts.googleapis.com/css?family=Roboto:100,100italic,300,300italic,400,400italic,500,500italic,700,700italic,900,900italic&subset=latin,latin-ext,cyrillic,cyrillic-ext,greek-ext,greek,vietnamese);
@import url(https://fonts.googleapis.com/css?family=Roboto+Condensed:300,300italic,400,400italic,700,700italic&subset=latin,latin-ext,cyrillic-ext,cyrillic,greek-ext,greek,vietnamese);
@import url(https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700&subset=latin,latin-ext,greek-ext,greek,vietnamese,cyrillic,cyrillic-ext);


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Roboto";
    font-weight: 300;
    font-size: 40px;
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between; 
    background-color: bisque;  
}

.header {
    text-align: center;
    padding: 20px;
    background-color: rgb(247, 196, 134);
}

.container {
    display: grid;
    /*display: table-column-group;*/
    align-items: center;
    justify-content: center;
    width: 80%;
    height: auto;
    min-height: 50%;
    gap: 20px;
    /*grid-template-columns: 20% auto;*/
    grid-template-areas: "A B";
}

.menu{
    display: flex;    
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    /*background-color: rgb(0, 102, 255);*/
    gap: 10px;
    padding: 3%; 
    grid-area: A;   
}

#colorPicker {
    border: none;
    width: 250px;
    height: 50px;
}

button {
    /*background-color: rgba(104, 155, 233, 0.938);*/
    background-color: bisque;  
    font-family: "Roboto";
    font-weight: 300;
    width: 250px;
    font-size: 24px;
    border: 1px solid #333333;
    color: #333333;
    /*border: 1px solid black;*/
    border-radius: 10px;
    padding: 5px;
}

.selected {
    background-color: #333333;
    color:bisque;  
    /*border: 3px solid  rgba(104, 155, 233, 0.938);*/
}

.size-value {
    font-size: 20px;    
}

#sizeSlider {
    color: #333333;
    width: 250px;
}

.grid {
    display: grid;
    height: 600px;
    width: 600px;
    grid-area: B;
    /*height: 70vh;
    width: height;*/
    background-color: var(--secondary-light);
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    margin-top: 1vh;
    margin-right: 6vw;
    box-sizing: content-box;
}
  
.grid-element {
    user-select: none;
}

[class^="block-"],
[class^="row-"], 
[class^="column-"] {
    background-color: white;
    /* Размещаем контейнеры по центру */
    display: grid;
    place-items: center;
    min-width: 10px;
    min-height: 10px;
  }

.footer {
    text-align: center;
    padding: 20px;
    font-size: 20px;
    background-color: rgb(247, 196, 134);
}

.icon {
    height: 20px;
    width: auto;
}