@import url(https://fonts.googleapis.com/css?family=Roboto:100,100italic,300,300italic,400,400italic,500,500italic,700,700italic,900,900italic&subset=latin,latin-ext,cyrillic,cyrillic-ext,greek-ext,greek,vietnamese);
@import url(https://fonts.googleapis.com/css?family=Roboto+Condensed:300,300italic,400,400italic,700,700italic&subset=latin,latin-ext,cyrillic-ext,cyrillic,greek-ext,greek,vietnamese);
@import url(https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700&subset=latin,latin-ext,greek-ext,greek,vietnamese,cyrillic,cyrillic-ext);


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Roboto";
    font-weight: 300;
    font-size: 40px;
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between; 
    background-color: bisque;  
}

.header {
    text-align: center;
    padding: 20px;
    background-color: rgb(247, 196, 134);
}

.container {
    display: grid;
    width: 80%;
    height: auto;
    min-height: 50%;
    gap: 20px;
    grid-template-columns: 20% auto;
}

.menu{
    display: flex;    
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    /*background-color: rgb(0, 102, 255);*/
    gap: 10px;
    padding: 3%;
}

#colorPicker {
    border: none;
    width: 90%;
    height: 50px;
}

button {
    background-color: rgba(104, 155, 233, 0.938);
    font-family: "Roboto";
    font-weight: 300;
    width: 90%;
    font-size: 24px;
    border: 2px solid rgb(233, 134, 4);
    border-radius: 10px;
    padding: 5px;
}

.size-value {
    font-size: 20px;
}

.grid {
    display: grid;
}

.footer {
    text-align: center;
    padding: 20px;
    font-size: 20px;
    background-color: rgb(247, 196, 134);
}

.icon {
    height: 20px;
    width: auto;
}